<table class="table">
  <thead>
    <tr>
      <th class="text-center hit-title" scope="col">Title</th>
      <th class="text-center" scope="col">Score</th>
      <th class="text-center" scope="col">E-value</th>
      <th class="text-center" scope="col"># Alignments</th>
      <th class="text-center" scope="col">Accession</th>
    </tr>
  </thead>
  <tbody>
    {% for hit in hits %}
    <tr>
      <td class="text-center">{{ hit.title}}</td>
      <td class="text-center">{{ hit.score }}</td>
      <td class="text-center">{{ hit.e }}</td>
      <td class="text-center">{{ hit.num_alignments }}</td>
      <td class="text-center">{{ hit.accession }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
